<div class="aem_wrapper_element">
    <section class="headerSegment">
        <div class="containerHeaderSegment">
            <ul class="segments">
                <div>
                    <li class="itemSegment segmentSelected">
                        <!-- <a href="https://www.personal.com.ar" target="_self" title="Individuos">-->
                        <p class="title">Individuos</p>
                        <!-- </a> -->
                    </li>
                </div>
                <span class="separator">|</span>
                <div>
                    <li class="itemSegment ">
                        <!-- <a href="https://www.personal.com.ar/pymes" target="_self" title="Pymes"> -->
                        <p class="title">Pymes</p>
                        <!-- </a> -->
                    </li>
                </div>
                <span class="separator">|</span>
                <div>
                    <li class="itemSegment ">
                        <!-- <a href="https://www.personal.com.ar/tech" target="_self"
                            title="Grandes Empresas"> -->
                        <p class="title">Grandes Empresas</p>
                        <!-- </a> -->
                    </li>
                </div>
                <span class="separator">|</span>
                <div>
                    <li class="itemSegment ">
                        <!-- <a href="https://institucional.telecom.com.ar" target="_self"
                            title="Institucional"> -->
                        <p class="title">Institucional</p>
                        <!-- </a> -->
                    </li>
                </div>
            </ul>
        </div>
    </section>
</div>
