    <div class="aem_wrapper_element disabled">
        <section class="cc_header_brand" data-theme="light">
            <div class="cc_header_brand-container">
                <div class="cc_header_brand-container__left">
                    <div class="menu-hamburger-container">
                        <nav class="hamburger-brand-container">
                            <button class="hamburger-button" tabindex="0"
                                data-state="expandir">
                                <div class="hamburger-icon-container">
                                    <div class="hamburger-icon-container__line-top"></div>
                                    <div class="hamburger-icon-container__line-middle"></div>
                                    <div class="hamburger-icon-container__line-bottom"></div>
                                </div>
                            </button>
                        </nav>
                    </div>
                    <div class="cc_logo">
                        <a href="https://www.personal.com.ar/">
                            <img loading="lazy"
                                src="https://www.personal.com.ar/content/dam/teco-cms-ecosystem/componentes-cross/header/logo-personal-brand-new.svg"
                                alt="logo personal brand new">
                            </a>
                        </div>
                </div>
                <div class="cc_header_brand-container__center">
                    <nav class="cc_header_brand-nav">
                        <ul>
                            <li class="itemBrand" style="--iconElement-border-color:#4EC5FF">
                                <div class="itemBrand itemBrand" style="--iconElement-border-color:#4EC5FF">
                                    <div><a href="https://www.personal.com.ar/planes-internet-movil" target="_self"
                                            aria-label="Móvil" title="Móvil">
                                            <img loading="lazy"
                                                src="https://www.personal.com.ar/content/dam/teco-cms-ecosystem/componentes-cross/menu/brand-personal-movil.svg"
                                                alt="/content/dam/teco-cms-ecosystem/componentes-cross/menu/brand-personal-movil.svg">
                                            <p>Móvil</p>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="itemBrand" style="--iconElement-border-color:#406BEC">
                                <div class="itemBrand itemBrand" style="--iconElement-border-color:#406BEC">
                                    <div>
                                        <a href="https://www.personal.com.ar/internet" target="_self" aria-label="Fibra"
                                            title="Fibra">
                                            <img loading="lazy"
                                                src="https://www.personal.com.ar/content/dam/teco-cms-ecosystem/componentes-cross/menu/brand-personal-fibra.svg"
                                                alt="/content/dam/teco-cms-ecosystem/componentes-cross/menu/brand-personal-fibra.svg">
                                            <p>Fibra</p>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="itemBrand" style="--iconElement-border-color:#21DBAA">
                                <div class="itemBrand itemBrand" style="--iconElement-border-color:#21DBAA">
                                    <div><a href="https://www.personal.com.ar/flow" target="_self" aria-label="Flow"
                                            title="Flow">
                                            <img loading="lazy"
                                                src="https://www.personal.com.ar/content/dam/teco-cms-ecosystem/componentes-cross/menu/brand-personal-flow.svg"
                                                alt="/content/dam/teco-cms-ecosystem/componentes-cross/menu/brand-personal-flow.svg">
                                            <p>Flow</p>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="itemBrand" style="--iconElement-border-color:#8B84FF">
                                <div class="itemBrand itemBrand" style="--iconElement-border-color:#8B84FF">
                                    <div>
                                        <a href="https://www.personal.com.ar/pay" target="_self" aria-label="Pay"
                                            title="Pay">
                                            <img loading="lazy"
                                                src="https://www.personal.com.ar/content/dam/teco-cms-ecosystem/componentes-cross/menu/brand-personal-pay.svg"
                                                alt="/content/dam/teco-cms-ecosystem/componentes-cross/menu/brand-personal-pay.svg">
                                            <p>Pay</p>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="itemBrand" style="--iconElement-border-color:#00B2D0">
                                <div class="itemBrand itemBrand" style="--iconElement-border-color:#00B2D0">
                                    <div>
                                        <a href="https://tienda.personal.com.ar/" target="_self" aria-label="Tienda"
                                            title="Tienda">
                                            <img loading="lazy"
                                                src="https://www.personal.com.ar/content/dam/teco-cms-ecosystem/componentes-cross/menu/brand-tienda-personal.svg"
                                                alt="/content/dam/teco-cms-ecosystem/componentes-cross/menu/brand-tienda-personal.svg">
                                            <p>Tienda</p>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="itemBrand" style="--iconElement-border-color:#052C50">
                                <div class="itemBrand itemBrand" style="--iconElement-border-color:#052C50">
                                    <div>
                                        <a href="https://www.personal.com.ar/smarthome" target="_self"
                                            aria-label="Smarthome" title="Smarthome">
                                            <img loading="lazy"
                                                src="https://www.personal.com.ar/content/dam/teco-cms-ecosystem/componentes-cross/menu/smarthome-light.svg"
                                                alt="/content/dam/teco-cms-ecosystem/componentes-cross/menu/smarthome-light.svg">
                                            <p>Smarthome</p>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="itemBrand" style="--iconElement-border-color:#4EC5FF">
                                <div class="itemBrand itemBrand" style="--iconElement-border-color:#4EC5FF">
                                    <div>
                                        <a href="https://www.personal.com.ar/ayuda" target="_self" aria-label="Ayuda"
                                            title="Ayuda">
                                            <img loading="lazy"
                                                src="https://www.personal.com.ar/content/dam/teco-cms-ecosystem/componentes-cross/menu/brand-personal-ayuda.svg"
                                                alt="/content/dam/teco-cms-ecosystem/componentes-cross/menu/brand-personal-ayuda.svg">
                                            <p>Ayuda</p>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="cc_header_brand-container__right">
                    <div class="geolocationBrandContainer">
                        <div class="containerModalGeolocationBrand-mf">
                            <button class="buttonGeolocationBrandContainer">
                                <svg
                                    class="svg-inline--fa buttonGeolocationBrandSvg" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 384 512">
                                    <path fill="currentColor"
                                        d="M352 192c0-88.4-71.6-160-160-160S32 103.6 32 192c0 20.2 9.1 48.6 26.5 82.7c16.9 33.2 39.9 68.2 63.4 100.5c23.4 32.2 46.9 61 64.5 81.9c1.9 2.3 3.8 4.5 5.6 6.6c1.8-2.1 3.6-4.3 5.6-6.6c17.7-20.8 41.1-49.7 64.5-81.9c23.5-32.3 46.4-67.3 63.4-100.5C342.9 240.6 352 212.2 352 192zm32 0c0 88.8-120.7 237.9-170.7 295.9C200.2 503.1 192 512 192 512s-8.2-8.9-21.3-24.1C120.7 429.9 0 280.8 0 192C0 86 86 0 192 0S384 86 384 192zm-240 0a48 48 0 1 0 96 0 48 48 0 1 0 -96 0zm48 80a80 80 0 1 1 0-160 80 80 0 1 1 0 160z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div><span class="separator">|</span>
                    <div class="cartContainer" title="Tienda">
                        <div>
                            <a href="https://tienda.personal.com.ar/cart" target="_self">
                                <div class="containerCart">
                                    <svg class="svg-inline--fa " xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M5.5 4C5.71875 4 5.90625 4.1875 5.96875 4.40625L6.125 5H19.9062C20.5625 5 21.0625 5.65625 20.875 6.28125L19.1875 12.2812C19.0625 12.7188 18.6875 13 18.2188 13H7.9375L8.375 15H18.5C18.75 15 19 15.25 19 15.5C19 15.7812 18.75 16 18.5 16H8C7.75 16 7.5625 15.8438 7.5 15.625L5.09375 5H3.5C3.21875 5 3 4.78125 3 4.5C3 4.25 3.21875 4 3.5 4H5.5ZM6.34375 6L7.6875 12H18.2188L19.9062 6H6.34375ZM7 18.25C7 17.3125 7.78125 16.5 8.75 16.5C9.6875 16.5 10.5 17.3125 10.5 18.25C10.5 19.2188 9.6875 20 8.75 20C7.78125 20 7 19.2188 7 18.25ZM8.75 19C9.15625 19 9.5 18.6875 9.5 18.25C9.5 17.8438 9.15625 17.5 8.75 17.5C8.3125 17.5 8 17.8438 8 18.25C8 18.6875 8.3125 19 8.75 19ZM19 18.25C19 19.2188 18.1875 20 17.25 20C16.2812 20 15.5 19.2188 15.5 18.25C15.5 17.3125 16.2812 16.5 17.25 16.5C18.1875 16.5 19 17.3125 19 18.25ZM17.25 17.5C16.8125 17.5 16.5 17.8438 16.5 18.25C16.5 18.6875 16.8125 19 17.25 19C17.6562 19 18 18.6875 18 18.25C18 17.8438 17.6562 17.5 17.25 17.5Z">
                                        </path>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div><span class="separator">|</span>
                    <div class="loginMenuContainer">
                        <section class="menuBrand isReady ">
                            <button class="buttonUserBrandMenu ">
                                <svg
                                    class="svg-inline--fa " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="currentColor"
                                        d="M412.1 416.6C398.1 361.1 347.9 320 288 320l-64 0c-59.9 0-110.1 41.1-124.1 96.6C58 375.9 32 319 32 256C32 132.3 132.3 32 256 32s224 100.3 224 224c0 63-26 119.9-67.9 160.6zm-28.5 23.4C347.5 465.2 303.5 480 256 480s-91.5-14.8-127.7-39.9c4-49.3 45.3-88.1 95.7-88.1l64 0c50.4 0 91.6 38.8 95.7 88.1zM256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-256a48 48 0 1 1 0-96 48 48 0 1 1 0 96zm-80-48a80 80 0 1 0 160 0 80 80 0 1 0 -160 0z">
                                    </path>
                                </svg>
                                <p>Mi Personal</p>
                            </button>
                        </section>
                    </div>
                </div>
            </div>
            <section class="containerCarousel">
                <div class="carousel">
                    <div class="carouselScroll">
                        <div class="carouselItem carouselItem" style="--iconElement-border-color:#4EC5FF">
                            <div>
                                <a class="anchorWithImage" href="https://www.personal.com.ar/planes-internet-movil"
                                    target="_self" aria-label="Móvil" title="Móvil">
                                    <img
                                        src="https://www.personal.com.ar/content/dam/teco-cms-ecosystem/componentes-cross/menu/brand-personal-movil.svg"
                                        alt="Móvil">
                                    <p class="textWithImage">Móvil</p>
                                </a>
                            </div>
                        </div>
                        <div class="carouselItem carouselItem" style="--iconElement-border-color:#406BEC">
                            <div><a class="anchorWithImage" href="https://www.personal.com.ar/internet" target="_self"
                                    aria-label="Fibra" title="Fibra">
                                    <img
                                        src="https://www.personal.com.ar/content/dam/teco-cms-ecosystem/componentes-cross/menu/brand-personal-fibra.svg"
                                        alt="Fibra">
                                    <p class="textWithImage">Fibra</p>
                                </a>
                            </div>
                        </div>
                        <div class="carouselItem carouselItem" style="--iconElement-border-color:#21DBAA">
                            <div>
                                <a class="anchorWithImage" href="https://www.personal.com.ar/flow" target="_self"
                                    aria-label="Flow" title="Flow">
                                    <img
                                        src="https://www.personal.com.ar/content/dam/teco-cms-ecosystem/componentes-cross/menu/brand-personal-flow.svg"
                                        alt="Flow">
                                    <p class="textWithImage">Flow</p>
                                </a>
                            </div>
                        </div>
                        <div class="carouselItem carouselItem" style="--iconElement-border-color:#8B84FF">
                            <div>
                                <a class="anchorWithImage" href="https://www.personal.com.ar/pay" target="_self"
                                    aria-label="Pay" title="Pay">
                                    <img
                                        src="https://www.personal.com.ar/content/dam/teco-cms-ecosystem/componentes-cross/menu/brand-personal-pay.svg"
                                        alt="Pay">
                                    <p class="textWithImage">Pay</p>
                                </a>
                            </div>
                        </div>
                        <div class="carouselItem carouselItem" style="--iconElement-border-color:#00B2D0">
                            <div>
                                <a class="anchorWithImage" href="https://tienda.personal.com.ar/" target="_self"
                                    aria-label="Tienda" title="Tienda">
                                    <img
                                        src="https://www.personal.com.ar/content/dam/teco-cms-ecosystem/componentes-cross/menu/brand-tienda-personal.svg"
                                        alt="Tienda">
                                    <p class="textWithImage">Tienda</p>
                                </a>
                            </div>
                        </div>
                        <div class="carouselItem carouselItem" style="--iconElement-border-color:#052C50">
                            <div>
                                <a class="anchorWithImage" href="https://www.personal.com.ar/smarthome" target="_self"
                                    aria-label="Smarthome" title="Smarthome">
                                    <img
                                        src="https://www.personal.com.ar/content/dam/teco-cms-ecosystem/componentes-cross/menu/smarthome-light.svg"
                                        alt="Smarthome">
                                    <p class="textWithImage">Smarthome</p>
                                </a>
                            </div>
                        </div>
                        <div class="carouselItem carouselItem" style="--iconElement-border-color:#4EC5FF">
                            <div>
                                <a class="anchorWithImage" href="https://www.personal.com.ar/ayuda" target="_self"
                                    aria-label="Ayuda" title="Ayuda">
                                    <img
                                        src="https://www.personal.com.ar/content/dam/teco-cms-ecosystem/componentes-cross/menu/brand-personal-ayuda.svg"
                                        alt="Ayuda">
                                    <p class="textWithImage">Ayuda</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>